@import url(./main.css);

/* ------------- */
/*  Section Component */
/* Note - Please remember to 
check section utility class as well
*/
/* ------------- */

/* Wrapper Component */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 3%;
}

.wrapper h2 {
  margin-top: 2rem;
}

.flex-row-wrapper {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  min-width: 10rem;
  justify-content: center;
  align-items: center;
}

/* Primary section */
.primary-section {
  margin-top: 3rem;
  min-height: 80vh;
  align-items: center;
}
@media (max-width: 768px) {
  .primary-section {
    min-height: auto;
  }
}
.section-content {
  max-width: 25rem;
  align-self: center;
}

@media (max-width: 768px) {
  .section-content {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: auto;
    flex: 0 1 100%;
  }
}

/* Secondary section */
.secondary-section {
  margin: 3rem;
  height: auto;
  width: 90%;
}
@media (max-width: 768px) {
  .secondary-section {
    min-height: auto;
  }
}
/* Images */
.hero-img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-img {
    min-width: 100%;
  }
}
